//Mixin:

@mixin form-size ($width, $border-radius, $border, $padding...) {
	width: $width;
	border-radius: $border-radius;
	border: $border;
	padding: $padding;
}
@mixin form-variant ($border-color, $color) {
	border-color: $border-color;
	color: $color;
}

//Forms:

.form__group {
	border: none;
	.form__control {
		@include form-size (100%, $input-border-radius, 1px solid $input-border, 6px 12px);
		color: $input-color;
	&--has-succes {
		@include form-variant ($form-succes-color, $form-succes-color);
	}
}
	.form__label {
		font-weight: 400;
		&--succes {
			color: $form-succes-color;
		}
	}

}