body{
	margin:0;
	color:#8d8f92;
	font: 16px/1.8 Arial, Helvetica, sans-serif;
	background:#fff;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:none;
	min-width:320px;
}
img{border:0;vertical-align:top;-ms-interpolation-mode:bicubic;}
a{
	background-color:transparent;
	text-decoration:underline;
	color:#000;
}
a:hover{text-decoration:none;}
input,textarea,select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover{cursor:pointer;}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea{-webkit-appearance:none;}
textarea,
input[type=submit],
input[type=text]{-webkit-border-radius:0;}
input[type=image]{
	padding:0;
	border:none;
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner{
	padding:0 !important;
	border:0 none !important;
}
textarea,
input[type="text"]:focus { outline: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
form :-moz-placeholder{color:#999;}
form ::-moz-placeholder{color:#999; opacity:1;}
form :-ms-input-placeholder{color:#999;}
form ::-webkit-input-placeholder{color:#999;}
h1{font-size:2em;margin:0.67em 0}
h2{font-size:1.5em;margin:0.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:0.83em;margin:1.67em 0}
h6{font-size:0.75em;margin:2.33em 0}
mark{background:none;}
q{quotes:none}
q:before,
q:after{content:'';content:none}
p,dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}