@mixin btn-variant ($bg, $color, $bord: none){
	background: $bg;
	color: $color;
	border: $bord;
		&:hover,
		&.active {
			background: lighten($bg, 10%);
		} 
}
@mixin btn-size ($min-width, $bradius, $pad...){
	min-width: $min-width;
	border-radius: $bradius;
	padding: $pad;
}

.btn {
	@include btn-size (140px, 4px, 5px 20px);
	display: inline-block;
	font-size: $fz;
	text-transform: uppercase;
	&--default {
		@include btn-variant ($btn-default, $default-font);
			&:hover,
			&.active {
				background: darken($btn-default, 20%);
			}
	}
	&--normal {
		@include btn-variant ($btn-normal, $btn-fontcolor);
	}
	&--primary {
		@include btn-variant ($btn-primary, $btn-fontcolor);
	}
	&--succes {
		@include btn-variant ($btn-succes, $btn-fontcolor);
	}
	&--info {
		@include btn-variant ($btn-info, $btn-fontcolor);
	}
	&--warning {
		@include btn-variant ($btn-warning, $btn-fontcolor);
	}
	&--danger {
		@include btn-variant ($btn-danger, $btn-fontcolor);
	}
}
