$primary-color: #3bafda;
$normal-color:  #aab2bd;
$succes-color:  #8cc152;
$info-color:    #37bc9b;
$warning-color: #f6bb42;
$danger-color:  #da4453;
$font:             #fff;
$default-color:    #fff;
$default-font:     #000;
$fz: 		       14px;
$pill:             15px;
